.recipe-editor {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.recipe-editor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border-bottom: 0.1rem solid var(--tertiary-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.recipe-editor-header-public {
    padding-left: 1rem;
    margin-left: auto; 
}

.recipe-editor-header-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    flex-grow: 1;
    text-align: center; 
}

.recipe-editor-header-type {
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
}

.recipe-editor-header-save {
    margin-right: 2.3rem; 
}

.recipe-editor-content {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    overflow-y: auto;
    align-items: center;
}

.recipe-editor-content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    align-self: flex-start;
}

.recipe-editor-content-image-title {
    font-size: 1.5rem;
    
    font-weight: bold;
}

.recipe-editor-content-image img {
    color: var(--tertiary-color);
    width: 20rem;
    height: 20rem;
    padding: 0.6rem;
    border: 0.15rem solid var(--tertiary-color);
    border-radius: 1.2rem;
    overflow: hidden;
    object-fit: cover;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    transition: transform 1s ease;
    z-index: 1;
}

.recipe-editor-content-image img:hover {
    transform: scale(1.02);
}

.recipe-editor-content-image-info {
    font-size: 1.2rem;
    font-style: italic;
    opacity: 0.8;
}
