.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: var(--primary-color);
}

.homepage-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: var(--secondary-color-dimmed);
}

.homepage-header-title {
    background: var(--tertiary-color);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
    text-align: left;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homepage-content-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.homepage-content-recipes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.homepage-content-recipes-header {
    display: flex;
    align-self: flex-start;
    justify-self: left;
    color: var(--tertiary-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.homepage-content-recipes-section-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    font-weight: bold;
    overflow-x: scroll;
    scrollbar-width: 0.2rem;
    padding-bottom: 1rem;
}

.homepage-content-recipes-section-list[data-wrap="true"] {
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.homepage-content-recipes-section-list[data-wrap="true"] > .recipe-preview {
    margin-bottom: 1rem;
}

.homepage-content-recipes-section-list > .recipe-preview {
    margin-left: 1rem;
}

.homepage-content-recipes-section-list-sublist {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 100%;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 2rem;
}

.homepage-content-recipes-section-list-sublist-header {
    display: flex;
    align-self: flex-start;
    justify-self: left;
    color: var(--tertiary-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
}

.homepage-content-recipes-section-list-sublist-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    color: var(--tertiary-color);
    font-size: 0.8rem;
    font-weight: bold;
}

.homepage-content-recipes-section-list-sublist-list > .recipe-preview {
    margin-left: 1rem;
}