.suggestion-settings-root[data-hidden="true"] {
    display: none;
}

.suggestion-settings-root[data-hidden="false"] {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.suggestion-settings[data-hidden="true"] {
    display: none;
}

.suggestion-settings[data-hidden="false"] {
    background-color: var(--tertiary-color-dimmed-dimmed);
    backdrop-filter: blur(0.25rem);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: scale(0) translate(100%, -100%);
        opacity: 0;
    }
    to {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

.suggestion-settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 80%;
    background-color: var(--tertiary-color-dimmed);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 6;
}

.suggestion-settings-content-section-settings-entry-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.suggestion-settings-content-section-settings-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
}

.suggestion-settings-content-section-settings-entry #number {
}

.suggestion-settings-content-section-settings-entry #boolean {
}

.suggestion-settings-content-section-settings-entry #strings {
}

.suggestion-settings-content-section-settings-entry-undefined {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2rem;
    margin: 0.5rem;
    color: var(--danger-color);
}

.suggestion-settings-content-section-settings-entry-undefined:hover {
    cursor: pointer;
}