.suggestion-settings-root[data-hidden="true"] {
    display: none;
}

.suggestion-settings-root[data-hidden="false"] {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.suggestion-settings[data-hidden="true"] {
    display: none;
}

.suggestion-settings[data-hidden="false"] {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    animation: slideIn 0.75s ease-out forwards, backDropIn 2.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: scale(0) translate(350%, -350%);
        opacity: 0;
    }
    50% {
        transform: scale(0.5) translate(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

@keyframes backDropIn {
    from {
        backdrop-filter: blur(0);
    }
    to {
        backdrop-filter: blur(0.25rem);
    }
}

.suggestion-settings-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
    z-index: 6;
}

.suggestion-settings-content-fadeout {
    position: absolute;
    height: 3rem;
    width: 90%;
    padding: 2rem;
    overflow: hidden;
    background-color: transparent;
    z-index: 6;
    pointer-events: none;
}

.suggestion-settings-content-fadeout#top {
    background: linear-gradient(to bottom, var(--secondary-color), var(--secondary-color), transparent);
    top: 0;
}

.suggestion-settings-content-fadeout#bottom {
    background: linear-gradient(to top, var(--secondary-color), var(--secondary-color), transparent);
    bottom: 0;
}

.suggestion-settings-content-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 3rem;
}

.suggestion-settings-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--tertiary-color);
}

.suggestion-settings-content *::-webkit-scrollbar {
    width: 0.4em;
}

.suggestion-settings-content *::-webkit-scrollbar-track {
    background: var(--secondary-color-dimmed);
}

.suggestion-settings-content *::-webkit-scrollbar-thumb {
    background: var(--secondary-color)
}

.suggestion-settings-content *::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-dimmed);
}

.suggestion-settings-content-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiary-color);
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

.suggestion-settings-content-section-settings-entry-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.suggestion-settings-content-section-settings-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--tertiary-color);
    background-color: var(--primary-color-dimmed-dimmed);
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-top: 0.4rem;
    transition: background-color 0.5s;
}

.suggestion-settings-content-section-settings-entry:hover {
    background-color: var(--primary-color-dimmed);
}

.suggestion-settings-content-section-settings-entry#number input {
    background-color: var(--tertiary-color-dimmed);
    color: var(--secondary-color);
    appearance: none;
    border: var(--tertiary-color-dimmed) 0.2rem solid;
    border-radius: 0.6rem;
    width: 4rem;
    height: 1.1rem;
    text-align: right;
    padding: 0.2rem;
    appearance: none;
    -moz-appearance: textfield;
}

.suggestion-settings-content-section-settings-entry#number input::-webkit-inner-spin-button,
.suggestion-settings-content-section-settings-entry#number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.suggestion-settings-content-section-settings-entry#number input:focus {
    outline: none;
    border: var(--tertiary-color) 0.2rem solid;
}   

.suggestion-settings-content-section-settings-entry#boolean input {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid var(--tertiary-color-dimmed);
    border-radius: 0.3rem;
    background-color: var(--tertiary-color-dimmed);
    cursor: pointer;
    position: relative;
}

.suggestion-settings-content-section-settings-entry#boolean input:checked {
    background-color: var(--success-color);
}

.suggestion-settings-content-section-settings-entry#strings div#dropdown {
    background-color: var(--tertiary-color-dimmed);
    color: var(--secondary-color);
    appearance: none;
    border: var(--tertiary-color-dimmed) 0.2rem solid;
    border-radius: 0.6rem;
    width: 6rem;
    height: 1.1rem;
    text-align: right;
    padding: 0.2rem;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-preview {
    position: relative;
    border-radius: 0.6rem;
    text-align: left;
    font-size: 0.8rem;
    height: 1.1rem;
    width: 6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-preview:hover {
    cursor: pointer;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content[data-show="false"] {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content[data-show="true"] {
    display: block;
    position: sticky;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: var(--tertiary-color) 0.2rem solid;
    border-radius: 0.6rem;
    width: 6rem;
    text-align: left;
    padding: 0.2rem;
    font-size: 0.8rem;
    z-index: 10;
    margin-top: 0.25rem;
    margin-left: -0.4rem;
    max-height: 12rem;
    opacity: 1;
    overflow: hidden;
    overflow-y: scroll;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content[data-show="true"]::-webkit-scrollbar {
    display: none;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content[data-show="true"]::-webkit-scrollbar-track {
    display: none;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content[data-show="true"]::-webkit-scrollbar-thumb {
    display: none;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content[data-show="true"]::-webkit-scrollbar-thumb:hover {
    display: none;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content div {
    padding: 0.1rem;
    border-bottom: 0.1rem solid var(--tertiary-color);
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content div[data-selected="true"] {
    color: var(--primary-color);
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content div:last-child {
    border-bottom: none;
}

.suggestion-settings-content-section-settings-entry#strings #dropdown-content div:hover {
    background-color: var(--primary-color-dimmed);
    cursor: pointer;
}

.suggestion-settings-content-section-settings-entry-undefined {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2rem;
    margin: 0.5rem;
    color: var(--danger-color);
}

.suggestion-settings-content-section-settings-entry-undefined:hover {
    cursor: pointer;
}

.suggestion-settings-save {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--tertiary-color-dimmed);
    color: var(--tertiary-color);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-settings-save:hover {
    background-color: var(--secondary-color);
}

.suggestion-settings-save[data-saving="true"] {
    background-color: var(--tertiary-color-dimmed-dimmed);
    color: var(--tertiary-color-dimmed);
    cursor: not-allowed;
}

.suggestion-settings-save[data-saving="true"]:hover {
    background-color: var(--tertiary-color-dimmed-dimmed);
}