.register {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-color)
}

.register-title {
    color: var(--tertiary-color);
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 20rem;

    border-radius: 1rem;
    background-color: var(--secondary-color);
}

.login-text {
    color: var(--tertiary-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.login-link {
    color: var(--link-color);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}