.ingredient-selector {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    margin: 0.5rem 0;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    border: 0.17rem solid var(--secondary-color);
}

.ingredient-selector:hover {
    border: 0.17rem solid var(--tertiary-color);
}

.ingredient-selector-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 0.3rem 0.3rem;
}

.ingredient-selector-new-ingredient-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 0.5rem;
}

.ingredient-selector-header[data-down="true"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 0.3rem 0.3rem 1rem 1rem;
}

.ingredient-selector-header-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
}

.ingredient-selector-header-plus {
    display: flex;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.ingredient-selector-ingredient-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 0.5rem;
}

.ingredient-selector-ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 0.2rem solid var(--primary-color);
    background-color: var(--primary-color-dimmed);
    border-radius: 0.5rem;
    cursor: default;
}

.ingredient-selector-ingredient-amount input {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: 0.14rem solid var(--secondary-color);
    text-align: left;
    padding: 0.2rem;
    width: 4rem;
    appearance: none;
    -moz-appearance: textfield;
}

.ingredient-selector-ingredient-amount input:focus {
    outline: none;
    border: 0.14rem solid var(--tertiary-color);
}

.ingredient-selector-ingredient-amount input::-webkit-inner-spin-button,
.ingredient-selector-ingredient-amount input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ingredient-selector-ingredient-unit select {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: 0.14rem solid var(--secondary-color);
    text-align: center;
    padding: 0.2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ingredient-selector-ingredient-unit select:focus {
    outline: none;
    border: 0.14rem solid var(--tertiary-color);
}

.ingredient-selector-ingredient-name {
    color: var(--tertiary-color);
    background-color: var(--primary-color-dimmed);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
    font-weight: bold;
}

.ingredient-selector-ingredient-remove {
    display: flex;
    margin-right: 0.5rem;
    cursor: pointer;
}