.ingredient-selector {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    margin: 0.5rem 0;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    border: 0.17rem solid var(--secondary-color);
    overflow: hidden;
}

.ingredient-selector:hover {
    border: 0.17rem solid var(--tertiary-color);
}

.ingredient-selector-new-ingredients {
    overflow: hidden;
}

.ingredient-selector-new-ingredients-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 18.6rem;
    padding: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ingredient-selector-new-ingredients-list::-webkit-scrollbar {
    display: none;
}

.ingredient-selector-new-ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.35rem 0;
    border: 0.2rem solid var(--primary-color);
    background-color: var(--primary-color-dimmed);
    border-radius: 0.5rem;
    transition: all 0.75s ease;
    transform: translateX(0);
    cursor: default;
    transition: all 0.5s ease;
}

.ingredient-selector-new-ingredient[data-visible="false"] {
    transform: translateX(25rem);
}

.ingredient-selector-new-ingredient-name {
    color: var(--tertiary-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 80%;
    font-weight: bold;
    justify-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredient-selector-new-ingredient-info,
.ingredient-selector-new-ingredient-add {
    display: flex;
}

.ingredient-selector-filter {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.7rem;
    margin-left: 0;
    width: 25rem;
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 0.3rem 0.3rem;
    transition: all 0.5s ease;
}

.ingredient-selector-filter[data-visible="false"] {
    border-radius: 0.3rem 0.3rem 1rem 1rem;
    transform: translateY(-2.7rem);
}

.ingredient-selector-filter input {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: 0.14rem solid var(--secondary-color);
    text-align: left;
    margin-left: 0.3rem;
    width: 4rem;
    appearance: none;
    -moz-appearance: textfield;
    transition: all 1s ease;
    margin-right: 0.3rem;
}

.ingredient-selector-filter input:focus {
    outline: none;
    width: 10rem;
    border: 0.14rem solid var(--tertiary-color);
}

.ingredient-selector-filter-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1.3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 0.3rem;
    user-select: none;
}

.ingredient-selector-filter-type * {
    display: flex;
    width: 99%;
    padding: 0.05rem;
}

.ingredient-selector-filter-apply {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    display: flex;
    font-size: 0.9rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    padding-bottom: 0.1rem;
    cursor: pointer;
    text-align: center;
}

.ingredient-selector-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.7rem;
    width: 25rem;
    background-color: var(--primary-color);
    border-radius: 1rem 1rem 0.3rem 0.3rem;
    transition: all 0.5s ease;
}

.ingredient-selector-header[data-down="true"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 0.3rem 0.3rem 1rem 1rem;
    transform: translateY(22.3rem);
}

.ingredient-selector-header-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
}

.ingredient-selector-header-plus {
    display: flex;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.ingredient-selector-ingredient-list {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    padding: 0.5rem;
    margin-top: 2.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ingredient-selector-ingredient-list::-webkit-scrollbar {
    display: none;
}

.ingredient-selector-ingredient {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    overflow: visible;
    margin: 0.5rem 0;
    border: 0.2rem solid var(--primary-color);
    background-color: var(--primary-color-dimmed);
    border-radius: 0.5rem;
    transition: all 0.75s ease;
    transform: translateX(0);
    cursor: default;
}

.ingredient-selector-ingredient[data-visible="false"] {
    transform: translateX(25rem);
}

.ingredient-selector-ingredient-amount input {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: 0.14rem solid var(--secondary-color);
    text-align: right;
    padding: 0.2rem;
    width: 4rem;
    appearance: none;
    -moz-appearance: textfield;
}

.ingredient-selector-ingredient-amount input:focus {
    outline: none;
    border: 0.14rem solid var(--tertiary-color);
}

.ingredient-selector-ingredient-amount input::-webkit-inner-spin-button,
.ingredient-selector-ingredient-amount input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ingredient-selector-ingredient-unit select {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    border: 0.14rem solid var(--secondary-color);
    text-align: left;
    padding: 0.2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 0.5rem;
}

.ingredient-selector-ingredient-unit select:focus {
    outline: none;
    border: 0.14rem solid var(--tertiary-color);
}

.ingredient-selector-ingredient-name {
    color: var(--tertiary-color);
    background-color: var(--primary-color-dimmed);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 100%;
    margin-left: 0.5rem;
    font-weight: bold;
    justify-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredient-selector-ingredient-info {
    display: flex;
    margin-left: 0.5rem;
}

.ingredient-selector-ingredient-remove {
    display: flex;
    margin-right: 0.5rem;
    cursor: pointer;
    justify-self: right;
    margin-left: 0.5rem;
    right: 1rem;
}