:root {
    --primary-color: #2b2b2b;
    --primary-color-dimmed: #2b2b2b80;
    --primary-color-dimmed-dimmed: #2b2b2b31;
    --secondary-color: #5a5a5a;
    --secondary-color-dimmed: #5a5a5a80;
    --secondary-color-dimmed-dimmed: #5a5a5a31;
    --tertiary-color: #dcdfe2;
    --tertiary-color-dimmed: #dcdfe280;
    --tertiary-color-dimmed-dimmed: #dcdfe231;

    --danger-color: #dc3545;
    --success-color: #28a745;

    --link-color: #386391;
}