.recipe-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--secondary-color);
    box-shadow: 0 0 0.5rem 0.05rem var(--secondary-color);
    transition: box-shadow 0.1s ease, transform 0.15s ease;
    transform-origin: center;
}

.recipe-preview:hover {
    cursor: pointer;
    transform: translateX(0.2rem);
    box-shadow: 0 0 0.5rem 0.2rem var(--secondary-color);
}

.recipe-preview-image-cover {
    position: relative;
}

.recipe-preview-image {
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 10rem;
    align-self: flex-start;
    object-fit: cover;
}

.recipe-preview-image-cover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--secondary-color) 100%);
    pointer-events: none;
}

.recipe-preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 0.8rem;
    font-weight: bold;

}

.recipe-preview-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiary-color);
    margin-right: 0.3rem;
}

.recipe-preview-content-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    overflow: hidden;
    width: 90%;
    margin-top: -0.2rem;
}
.recipe-preview-content-row > div {
    max-width: 87%;
}

.recipe-preview-name {
    display: block;
    text-align: left;
    color: var(--tertiary-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-preview-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    color: var(--tertiary-color-dimmed);
}

.recipe-preview-edit:hover {
    cursor:alias;
    color: var(--tertiary-color);
}