body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

.recipe-page {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
}

.recipe-page-left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--secondary-color);
    flex: 1;
    width: 20rem;
}

.recipe-page-right {
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.recipe-page-title-bar {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.recipe-page-mark {
    color: var(--tertiary-color);
    font-size: 2rem;
    margin-left: 0.75rem;
}

.recipe-page-cooked {
    color: var(--tertiary-color);
    font-size: 2rem;
    margin-right: 0.75rem;
}

.recipe-page-name {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}

.recipe-page-rating {
    text-align: center;
    color: var(--tertiary-color);
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recipe-page-rating-star {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    overflow: hidden;
}

.recipe-page-description {
    color: var(--tertiary-color);
    margin-top: 0;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    text-overflow: clip;
}

.recipe-page-notes-input {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    margin-top: 0.8rem;
    font-size: 1rem;
    border: none;
    width: 100%;
    height: 5rem;
    resize: none;
    border-radius: 0.5rem;
    text-align: left;
    overflow: auto;
    font-style: italic;
}

.recipe-page-notes-input:focus {
    outline: none;
}

.recipe-page-image {
    color: var(--tertiary-color);
    width: 20rem;
    height: 20rem;
    border-radius: 1.2rem;
    overflow: hidden;
}

.recipe-page-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.recipe-page-ingredients {
    color: var(--tertiary-color);
    font-size: 20px;
}

.recipe-page-ingredients-title {
    color: var(--tertiary-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.recipe-page-ingredients-servings {
    display: flex;
    color: var(--tertiary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.recipe-page-ingredients-servings-amount {
    width: 50%;
    margin-right: 0.2rem;
    text-align: right;
}

.recipe-page-ingredients-servings-change {
    width: 50%;
    margin-left: 0.3rem;
    text-align: left;
    margin-top: 0.2rem;
    color: var(--primary-color);
}

.recipe-page-ingredients-list {
    color: var(--tertiary-color);
}

.recipe-page-ingredients-list-item {
    color: var(--tertiary-color);
    border-top: 0.1rem solid var(--primary-color);
    display: flex;
}

.recipe-page-ingredients-list-item-amount {
    color: var(--tertiary-color);
    text-align: right;
    border-right: 0.1rem solid var(--primary-color);
    padding: 0.3rem;
    width: 50%;
} 

.recipe-page-ingredients-list-item-name {
    color: var(--tertiary-color);
    padding: 0.3rem;
    width: 50%;
}

.recipe-page-general-info-bar {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    display: flex;
    padding: 1rem;
    height: 3rem;
    font-size: 2rem;
}

.recipe-page-general-info-bar-time{
    margin-left: 0.5rem;
    margin-right: 3rem;
}

.recipe-page-allergies {
    color: var(--tertiary-color);
    font-size: 2rem;
    display: flex;
}

.recipe-page-allergies > *{
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.recipe-page-allergies > *:hover{
    cursor: help;
    font-size: 2.1rem;
    margin-left: 0.9rem;
}

.recipe-page-allergies-strikethrough {
    position: relative;
    display: inline-block;
}

.recipe-page-allergies-strikethrough::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    border-top: 2px solid #3f4345;
    transform: rotate(45deg);
}

.recipe-page-tooltip {
    font-size: 1rem;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: var(--secondary-color) 0.2rem solid;
    border-radius: 0.4rem;
    z-index: 1000;
    user-select: none;
}


.recipe-page-instructions {
    background-color: var(--primary-color);
    flex: 1;
    color: var(--tertiary-color);
    border-top-left-radius: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.recipe-page-instructions-item {
    color: var(--tertiary-color);
    padding: 1rem;
}